include *.py

#include all tests
recursive-include tests *

include troy/*.py
include troy/workload_manager/*.py

include troy/plugins/*.py
include troy/plugins/utils/*.py
include troy/plugins/planner/*.py
include troy/plugins/translator/*.py
include troy/plugins/overlay_scheduler/*.py
include troy/plugins/workload_scheduler/*.py

include MANIFEST.in 

